@font-face {
    font-family: "BitterRose";
    src: url(/fonts/BITTER\ ROSE\ DEMO.ttf);
}
.higher {
    color: #face8d;

}
.country {
    font-family: ;
}
.lower {
}
.navbar {
}
.navbar-item1 {
}
.navbar-item2 {
}
body {
    background-color: black;
    background-image: url(/img/pexels-rachel-claire-4577179\ 1.png);
    fill-opacity: 50%;
    background-repeat: no-repeat;
    width: 2167px;
    height: 1444px;
    

}